{% extends 'base.html' %}
{% block title %}Change password{% endblock %}
{% load crispy_forms_tags %}
{% block navbar %}
 {% endblock navbar %}
{% block content %}
<div class="row">
<aside class="col-sm-3">
</aside> <!-- col.// -->
<aside class="col-sm-6">
   

<div class="card">
    <br>
   <center> <h2>Change Password</h2> </center>
    <hr>
    <center>  <h5>Please enter a new password for your void account</h5></center>
{% if validlink %}
<article class="card-body">
<form method="post">
{% csrf_token %}
{% for field in form %}
<p>
    <fieldset class="form-group">
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <input type="text" class="form-control"
        name="{{ field.name }}"
        id="id_{{ field.name }}"
        > 
        </fieldset>

{% for error in field.errors %}
<p style="color: red">{{ error }}</p>
{% endfor %}
</p>
{% endfor %}
<button class="btn btn-lg btn-primary text-uppercase" type="submit">Submit</button>
</form>
</article>
{% else %}
<article class="card-body">
<p>
The password reset link was invalid, possibly because it has already been used.
Please request a new password reset.
</p>
</article>
{% endif %}
</div>
</aside>
<aside class="col-sm-3">
</aside> <!-- col.// -->
</div>
{% endblock %}