
{% extends 'base.html' %} 
{% load static %} 
{% block navbar %}
 {% endblock navbar %} 
 {% block content %}
<div class="container-fluid">
  <div class="row">
    <aside class="col-sm-3">
    </aside> 
    <div class=" h-100 align-items-center col-md-6">
        <div class="card">
            <article class="card-body">
        <h1>
            Hello
        </h1>
        <hr>
   
    <h5>
        We've emailed you instructions for Setting your Void account Password, if an
        account exists with the email you entered. You should receive them
        shortly.
    </h5>
    <br>
      <h5>
        If you don't receive an email, please make sure you've entered the
        address you registered with, and check your spam folder.
      </h5>
    </article>
</div>
    </div>
    <aside class="col-sm-3">
    </aside> 
  </div>
</div>
{% endblock %}
