{% extends 'base.html' %} {% block title %}Password reset Done{% endblock %} 
{% block navbar %} {% endblock navbar %} 
{% block content %}
<div class="row">
  <aside class="col-sm-3"></aside>
  <!-- col.// -->
  <aside class="col-sm-6">
    <div class="card">
      <article class="card-body">
        <h2>Password reset complete</h2>
        <hr />
        <h5>
          Your password has been set successfully. You may go ahead and
          <a href="{% url 'login' %}">sign in to your void account</a> now.
        </h5>
      </article>
    </div>
  </aside>
  <aside class="col-sm-3"></aside>
  <!-- col.// -->
</div>
{% endblock %}
