{% extends 'base.html' %}


{% block content %}

<div class="tee">
    <h1>hi {{content.content}}</h1>
</div>

    


    {% for comment in comments %}
    <div class="comment">
        <br><br>
        <p class="info">
        Comment {{ forloop.counter }} by {{ comment.author.username }}
        {{ comment.created }}
        </p>
        {{ comment.content|linebreaks }}

       
            
        {% endfor %}
        <form action="" method="POST">
            {{comment_form.as_p}}
            {% csrf_token %}
            <p><input type="submit" value="Add Comment"></p>
        </form>
    </div>

            
{% endblock content %}
    