{% extends 'base.html' %}
{% load static %}

{% block content %}

<aside class="col-sm-6 col-10 test right " >
<div class="card" id="card" style="margin-top: 50px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
           <center>     <img src="{{ content.author.profile.image.url }}" style="margin-top:10px;" class="rounded-circle z-depth-0"
        alt="avatar image" height="50" width="50"> </center>
            </div>
            <div class="col-md-10">
                <br>
                <a class="bg-blue" href="{% url 'profile' content.author.id %}">
                @{{ content.author.username }}</a>
                <br>
               <small>{{ content.posted  | timesince }}
                <i class="fas fa-clock "></i></small>
                    <hr>
              <h4> <span class="emoji">{{ content.content }} </span></h4>
              {% if content.image_content %}
        
              <center><img src="  {{content.image_content.url}}"  
                alt="avatar image"  width="80%" class="imag"></center>  
    
              {% endif %}
                    <br>
                <hr>
              
             
              
                <div class="inline text-right">
                    <i class="fas fa-thumbs-up fa-2x" style="color:#2196F3"></i>
                </div>
                <div class="">
                   <a href="{% url 'comment' content.id %}"> <i class="far fa-comment fa-2x " style="color:#2196F3"></i>  <h4 style="display: inline;">{{comments|length}}</h4></a>
                </div>
               
                <br>
            </div>
        </div>
    </div>
    </div>
    
    <br> 
    <hr>
    {% for comment in comments %}
    <div class="comment">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
        <br>
        <p class="info">
            <img src="{{ content.author.profile.image.url }}" style="margin-top:10px;" class="rounded-circle z-depth-0"
            alt="avatar image" height="50" width="50">
            </div>
            <div class="col-md-10">
            <a class="bg-blue" href="{% url 'profile' comment.author.id %}">
                @{{ comment.author.username }}</a><br>
              <small>{{ comment.created  | timesince }}
                <i class="fas fa-clock "></i></small>                 
        </p>
        <hr>
      <h4> {{ comment.content|linebreaks }}</h4> <button class="reply-toggle btn btn-outline-blue-dark btn-sm" style="color: blue ;">replies</button> <br><br><hr>
       
      <div class="reply container mt-2" style="display:none">
    {% for reply in comment.replies.all %}
        <blockquote class="blockquote"> <p class="info">
            <img src="{{ content.author.profile.image.url }}" style="margin-top:10px;" class="rounded-circle z-depth-0"
            alt="avatar image" height="20" width="20">
            <a class="bg-blue" href="{% url 'profile' comment.author.id %}">
                @{{ reply.author.username }}</a><br>
              <small> <small>{{ reply.created  | timesince }}
                <i class="fas fa-clock "></i></small></small>                 
        </p>
        <hr>
      <h5> {{ reply.content|linebreaks }}</h5> </blockquote> 
          {% endfor %}
              
        <div class="form-group">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}  
                <input type="hidden" name="comment_id" value="{{comment.id}}"> 
                <p>
                    <fieldset class="form-group">
                     <textarea name="{{form.content.name}}" id="id_{{form.content.name}}" class="form-control id_{{form.content.name}}" placeholder="reply comment"></textarea>
                     
                    </fieldset> 
                <!-- {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p> -->
              <div class="text-right">
                <button class="btn btn-sm btn-primary text-uppercase" id="border" type="submit">Reply</button>
              </div>
            </form>  
        
        </div>
    </div>
        <br>
        
            </div>
            <div class="col-md-2">
               
            </div>
    </div>
        </div>
    </div>
        {% endfor %}
    
        <br>
    <div class="post">


        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}   
            <p>
                <fieldset class="form-group">
                 <textarea name="{{form.content.name}}" id="id_{{form.content.name}}" class="form-control id_{{form.content.name}}" placeholder="post a comment"></textarea>
                 
                </fieldset> 
            <!-- {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p> -->
          <div class="text-right">
            <button class="btn btn-lg btn-primary text-uppercase" id="border" type="submit">Add Comment</button>
          </div>
        </form>  
    
    </div>
    
  
</aside>


<aside class="col-sm-4 test "  >

</aside>
</div>

            
{% endblock content %}


{% block js %}
<script>
        $('.reply-toggle').click(function(){
            $(this).parent().next('.reply').fadeToggle()
        });
</script>
        

{% endblock js %}
    
    