{% load static %}
{% for content in contents %}

<div class="card" id="card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <center> <img src="{{ content.author.profile.image.url }}" style="margin-top:10px;"
                        class="rounded-circle z-depth-0" alt="avatar image" height="50" width="50"> </center>
            </div>
            <div class="col-md-8">
                <br>
                <a class="bg-blue" href="{% url 'profile' content.author.id %}">
                    @{{ content.author.username }}</a>
                <br>
                <small>{{ content.posted  | timesince }}
                    <i class="fas fa-clock "></i></small>
                <hr>
                <h4> <span class="emoji">{{ content.content }} </span></h4>
                {% if content.image_content %}
                <center>
                    <img src="  {{content.image_content.url}}" alt="avatar image" width="80%" class="imag">
                </center>
                {% endif %}
                <br>
                <hr>
                <br>
            </div>
            <div class="col-md-2 reactions">
                <div style="text-align: center; max-width: 36px;">
                <span class="post_likes_count">{{content.likes.count}}</span>
                <div class="inline text-right reaction-like" data-postId="{{ content.id }}">
                    <!-- <i class="fas fa-thumbs-up fa-2x" style="color:#2196F3"></i> -->
                    {% if request.user in content.likes.all %}
                    <img height="37"  data-action="unlike" width="37"
                    class="heart-gif" src="{% static 'heart_40.png' %}" />
                     {% else %}
                     <img height="37" data-action="like" width="37" 
                     class="heart-gif" src="{% static 'download.png' %}" />
                     {% endif %}
                </div>
            </div>
                <div class="reaction-comment">
                    <a href="{% url 'comment' content.id %}"> <i class="far fa-comment fa-2x "
                            style="color:#2196F3"></i>
                        <h4>{{contents.comments|length}}</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
{% endfor %}
{% block js %}
<script src="{% static 'js/libgif.js' %}"></script>
<script src="{% static 'js/content.js' %}"></script>
{% endblock js %}