{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}
<link rel="stylesheet" href= "{% static 'css/content.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock header %}

{% block content %}
<div class="row">
<aside class="col-2 test">
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
          </button>
    </div>
</aside>
<aside class="col-6 test">
    <div class="post">


        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
    
            <p>
                <fieldset class="form-group">
                 <textarea name="{{form.content.name}}" id="id_{{form.content.name}}" class="form-control id_{{form.content.name}}" style="display: none;" placeholder="what's on your mind?"></textarea>
               
                </fieldset>
                <div id="content-preview">
               
                <input type="file" name="{{form.image_content.name}}" id="id_{{form.image_content.name}}" class="image" accept="image/*">
                <label for="id_{{form.image_content.name}}"><span class="material-icons md-36 blueup">
                    add_photo_alternate
                    </span>
                </label>
                    
                    
                 </div>
               
    
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
    
            
            <div class="text-right">
            <button class="btn btn-lg btn-primary text-uppercase" id="border" type="submit">Post</button>
             </div>
             <center>
                <img class="preview-img" src="{{form.image_content.url}}"  width="300"/>
            </center>
        </form>  
    
    </div>
    
    
    <hr>
    <br>
<div class="infinite-container">
    {% include 'post/list_content.html' %}
</div>
</aside>


<aside class="col-4 test" >
</aside>
</div>
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
           
              
          </button>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
    
        <div class="modal-body">
            <fieldset class="form-group">
            <textarea name="{{form.content.name}}" id="id_{{form.content.name}}" class="form-control id_{{form.content.name}}" style="display: none;" placeholder="what's on your mind?"></textarea> 
              
               </fieldset>
        </div>
        
            <input type="file" name="{{form.image_content.name}}" id="id_{{form.image_content.name}}" class="image" accept="image/*">
        <label for="id_{{form.image_content.name}}"><span class="material-icons md-36 blueup">
            add_photo_alternate
            </span>
        </label>
        
        <div class="modal-footer">
           
                
                        
            <button class="btn btn-lg btn-primary text-uppercase" id="border" type="submit">Post</button>
            
          
        </div>
        <center>
            <img class="preview-img" src="{{form.image_content.url}}"  width="300"/>
        </center>

        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
      </div>
    </form>  
    </div>
  </div>
{% endblock content %}




{% block js %}
<script src="{% static 'js/emojionearea.min.js' %}"></script>  
<script>
$(document).ready(function(){
    $(".id_{{form.content.name}}").emojioneArea({
        pickerPosition: "bottom"
    });
}) 

function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
        console.log(e.target.result)
        $('.preview-img').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
        }

        $(function () {
        $('.preview-img').css('display', 'none');
        $(".image").change(function() {
        readURL(this);

        $('.preview-img').on('load', function () {
        $(this).css('display', 'block');
        });
        });

});

</script>
 <script>
    var page = 1;
    var empty_page = false;
    var block_request = false;

    $(window).scroll(function(){
        var margin = $(document).height() - $(window).height() - 200;
        if($(window).scrollTop() > margin && empty_page == false && block_request == false){
            block_request = true;
            page += 1;
            $.get('?page='+ page, function(data){
                if(data==''){
                    empty_page =  true;
                }
                else{
                    block_request = false;
                    $('.infinite-container').append(data);
                }
            });
        }
    });
</script>

{% endblock js %}