{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}
<link rel="stylesheet" href= "{% static 'css/content.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tributejs@3.5.3/dist/tribute.css">
{% endblock header %}

    
{% block content %}
<!-- <div class="row">
<aside class="col-2 test side-bar " >
    <div class="text-center">

   
     <ul class="side-table">
        <center>   <li> <a class="side-item" href="{% url 'content' %}">
                    <img src="{% static 'logo/void.png' %}" 
                      alt="Void" class="Logo"> </a></li></center> 
                <li>  <a class="side-item" href="{% url 'content' %}"><span class="material-icons side">
                    home
                    </span></a></li>
                <li><a class="side-item" href="{% url 'chatapp:room_bare' %}"><span class="material-icons side">
                    message
                    </span></a></li>
                <li> <a class="side-item" href="#"><span class="material-icons side">
                    notification_important
                    </span></a></li>
                <li> <a class="side-item" href="{% url 'profile' request.user.id %}"><span class="material-icons side">
                    account_circle
                    </span></a></li>
                <li><a class="side-item" href="{% url 'logout' %}"><span class="material-icons side">
                    power_settings_new
                    </span></a></li>
                <li><a class="side-item" href="" data-toggle = 'modal' data-target='#exampleModal'><span class="material-icons side">
                    add_circle
                    </span></a></li>
        
            </ul>
        </div>

</aside> -->
<aside class="col-sm-6 col-10 test right " >
    <div class="post">


        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
    
            <p>
                <div class="img">
                    <img class="preview-img prev" src="{{form.image_content.url}}"/>
                    <hr>
                    <span class="material-icons xmark" >
                        close
                        </span>  
                </div>
                
                    
            
                
                <fieldset class="form-group">
                 <textarea name="{{form.content.name}}" id="id_{{form.content.name}}" class="form-control id_{{form.content.name}}" style="display: none;" placeholder="what's on your mind?"></textarea>
                 
                </fieldset>
                <div id="content-preview">
               
                <input type="file" name="{{form.image_content.name}}" id="id_{{form.image_content.name}}" class="image" accept="image/*">
                <label for="id_{{form.image_content.name}}"><span class="material-icons md-36 blueup label">
                    add_photo_alternate
                    </span>
                </label>
                    
                    
                 </div>
               
    
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
    
            
            <div class="text-right">
            <button class="btn btn-lg btn-primary text-uppercase" id="border" type="submit">Post</button>
             </div>
             <center>
               
            </center>
        </form>  
    
    </div>
    
    
    <hr>
    <br>
<div class="infinite-container">
    {% include 'post/list_content.html' %}
</div>
<!-- 
<div class="modal fade " id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          
          <fieldset class="form-group">
              <div class="img">
                  <img class="preview-img prev" id="label-img" src="{{form.image_content.url}}"/>
                  <hr>
                  <span class="material-icons xmark xmark-label" >
                      close
                      </span>  
              </div>
          <textarea name="{{form.content.name}}" id="id_label_{{form.content.name}}" class="form-control" style="display: none;" placeholder="what's on your mind?"></textarea>

          <input type="file" name="{{form.image_content.name}}" id="label_{{form.image_content.name}}" class="image-label" accept="image/*">
          <label for="label_{{form.image_content.name}}"><span class="material-icons md-36 label modellabel">
              add_photo_alternate
              </span>
          </label>
             </fieldset>
      </div>

          
      
      <div class="modal-footer">
           
          <button class="btn btn-lg btn-primary text-uppercase" id="border" type="submit">Post</button>

      </div>

      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
      </p>
    </form>  
    </div> -->


<!-- <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body">
            
            <fieldset class="form-group">
                <div class="img">
                    <img class="preview-img prev" id="label-img" src="{{form.image_content.url}}"/>
                    <hr>
                    <span class="material-icons xmark xmark-label" >
                        close
                        </span>  
                </div>
            <textarea name="{{form.content.name}}" id="id_label_{{form.content.name}}" class="form-control" style="display: none;" placeholder="what's on your mind?"></textarea>

            <input type="file" name="{{form.image_content.name}}" id="label_{{form.image_content.name}}" class="image-label" accept="image/*">
            <label for="label_{{form.image_content.name}}"><span class="material-icons md-36 label modellabel">
                add_photo_alternate
                </span>
            </label>
               </fieldset>
        </div>

            
        
        <div class="modal-footer">
             
            <button class="btn btn-lg btn-primary text-uppercase" id="border" type="submit">Post</button>
  
        </div>

        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
      </div>
    </form>   -->
</aside>


<aside class="col-sm-4 test "  >
</aside>
</div>
<!-- Button trigger modal -->

  
  <!-- Modal -->
  
{% endblock content %}




{% block js %}
<script src="{% static 'js/emojionearea.min.js' %}"></script>  
<script>
$(document).ready(function(){
    $(".id_{{form.content.name}}").emojioneArea({
        pickerPosition: "bottom",
        textcomplete: {
        maxCount  : 10,
        placement : null
    }
    });
}) ;

// $(document).ready(function(){
//     $("#id_label_{{form.content.name}}").emojioneArea({
//         pickerPosition: "bottom",
//         autocomplete: false
        
//     });
// }) 

// function readURLModel(input) {
//         if (input.files && input.files[0]) {
//         var reader = new FileReader();

//         reader.onload = function(e) {
//         console.log(e.target.result)
//         $('#label-img').attr('src', e.target.result);
//         }

//         reader.readAsDataURL(input.files[0]); // convert to base64 string
//         }
//         }

//         $(function () {
//         $('#label-img').css('display', 'none');
//         $('.xmark').css('display', 'none');
//         $(".image-label").change(function() {
//         readURLModel(this);

//         $('#label-img').on('load', function () {
//         $(this).css('display', 'block');
//         $('.xmark-label').css('display', 'block');
//         });
//         });

// });

function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
        console.log(e.target.result)
        $('.preview-img').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
        }

        $(function () {
        $('.preview-img').css('display', 'none');
        $('.xmark').css('display', 'none');
        $(".image").change(function() {
        readURL(this);

        $('.preview-img').on('load', function () {
        $(this).css('display', 'block');
        $('.xmark').css('display', 'block');
        });
        });

});

</script>
 <script>
    var page = 1;
    var empty_page = false;
    var block_request = false;

    $(window).scroll(function(){
        var margin = $(document).height() - $(window).height() - 200;
        if($(window).scrollTop() > margin && empty_page == false && block_request == false){
            block_request = true;
            page += 1;
            $.get('?page='+ page, function(data){
                if(data==''){
                    empty_page =  true;
                }
                else{
                    block_request = false;
                    $('.infinite-container').append(data);
                }
            });
        }
    });
</script>
<script>
    $('.xmark').on('click',function(){
        $(".image").val('');
        $('.xmark').css('display', 'none');
        $('.preview-img').css('display', 'none');
      
    }); 
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>
  <script>
 var tribute = new Tribute({
    values: [
              { key: 'Phil', value: 'pheartman' },
              { key: 'Gordon', value: 'gramsey' },
              { key: 'Jacob', value: 'jacob' },
              { key: 'Ethan', value: 'ethan' },
              { key: 'Emma', value: 'emma' },
              { key: 'Isabella', value: 'isabella' }
            ],
    
  });
  tribute.attach(document.getElementsByClassName("id_content"));
  </script>
 
{% endblock js %}