{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock header %}

{% block navbar %}
    
{% endblock navbar %}
    
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
    <div class="content-section">
        <form action="" method="post">

            <div class="form-group">
            {% csrf_token %}
            <fieldset class="form-group"></fieldset>
            <legend class="border-bottom mb-4"><center><img src="{% static 'logo/full_void.png' %}" height="100" width="100px" class="p-0 d-inline-block align-top"
                alt="Void">
            </a></center> </legend>
            {{ form|crispy }}
            <div class="custom-control custom-checkbox mb-3">
                <input name="remember_me" type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                <hr class="my-4">
             
            </form>
            </div>
             
        <a href="{% url "social:begin" "google-oauth2" %} " target="_blank"><button  name = "f-auth" class="btn btn-lg btn-google btn-block text-uppercase"><i class="fab fa-google mr-2"></i> Sign in with Google</button></a> 
        <br>
        <a href="{% url "social:begin" "facebook" %}" target="_blank">
            <button class="btn btn-lg btn-facebook btn-block text-uppercase" ><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button></a>
    </div>
    <div class="border-top pt-3">
      <center>  <a href="{% url "reset_password" %}">Forgotten your password?</a> <br> <small class="text-muted">
           Dont have an account yet?<a class="ml-2" href="{% url 'register' %}"> Create a new Void account</a>
        </small> </center>
        
    </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock content %}
    