{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock header %}

{% block navbar %}

{% endblock navbar %}
    
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
    <div class="content-section">
        <form action="" method="post">
            <div class="form-group">
            {% csrf_token %}
            <fieldset class="form-group"></fieldset>
            <legend class="border-bottom mb-4"><center><img src="{% static 'logo/void.png' %}" height="50" width="80px" class="p-0 d-inline-block align-top"
                alt="Void">
            </a></center> </legend>
            {{ form|crispy }}
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
            <hr class="my-4">
            
        </div>
    </form>
    <a href="{% url "social:begin" "google-oauth2" %}"><button  name = "f-auth" class="btn btn-lg btn-google btn-block text-uppercase"><i class="fab fa-google mr-2"></i> Sign up with Google</button></a> 
    <br>
    <a href="{% url "social:begin" "facebook" %}">
        <button class="btn btn-lg btn-facebook btn-block text-uppercase" ><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button></a>
</div>
<div class="border-top pt-3">
  <center>  <small class="text-muted">
       Already have an account?<a class="ml-2" href="{% url 'login' %}"> Log in to Void </a>
    </small> </center>
    
</div>
</div>
</div>
</div>
</div>
</div>
       
{% endblock content %}
    