{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    {% block header %}
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
{% endblock header %}
  </head>

  {% block content %}
  <div class="col-10" id="chatBodyDiv">
  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="{{ request.user.profile.image.url }}" class="online" alt="" />
          <p>{{ request.user.username }}</p>
          <div id="status-options">
            <ul>
              <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
              <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
              <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
              <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" placeholder="Search contacts..." />
      </div>
      <div id="contacts">
        <ul id="contacts-ul">
          {% for chat in chats %}
          <li  data-chatId='{{ chat.id }}' id="chat-{{chat.id}}" class="contact active">
            <div class="wrap">
              <span class="contact-status busy"></span>
              {% ifequal request.user.username chat.user_one.user.username %}
              <img class="chatImg" src="{{ chat.user_two.user.profile.image.url }}" alt="" />
              <div class="meta">
                <p class="name">{{chat.user_two.user.username}}</p>
              {% else %}
              <img class="chatImg" src="{{ chat.user_one.user.profile.image.url }}" alt="" />
              <div class="meta">
                <p class="name">{{chat.user_one.user.username}}</p>
              {% endifequal %}
              <div class="preview" >{{chat.last_message|safe|truncatewords:30 }}{% if chat.last_message|length > 20 %}...{% endif %}</div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div id="bottom-bar">
        <button id="addcontact" type="button" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
        <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
      </div>
    </div>
    <div class="content">
      {% if room_name_json %}
      <div class="contact-profile">
        <img src="{{ request.user.profile.image.url }}" alt="" />
        <p>{{ request.user.username }}</p>
      </div>
      {% endif %}
      <div class="messages">
        <ul id="chat-log">
          <!-- chat list items go in here -->
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
        <div id="chat-message-input" dir="auto" contenteditable="true" placeholder="Write your message..." >
        </div><i style="cursor:pointer" contenteditable="false" class="trigger fa fa-smile-o" aria-hidden="true"></i>
        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
        <button id="chat-message-submit" class="submit">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
        </div>
      </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">

  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Contacts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan active-cyan-2 mt-2">
          <i class="fas fa-search" aria-hidden="true"></i>
          <input id="suggestion" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
            aria-label="Search">
        </form>
          <div class='users-container hide-users'>
            <ul class="ul">
              
            </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  </div>
{% endblock content %}

{% block js %}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script src="{% static 'tribute.js' %}"></script>
<script src="{% static 'main.js' %}"></script>
<script src="{% static 'reconnecting_websockets.js' %}"></script>

<script type="module">
  import { EmojiButton } from "https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@4.1.0/dist/index.min.js";
  var picker = new EmojiButton({
    style: 'twemoji',
    position: {
      'top':"30%",
      "right":"2.5%",
    }
  });
  const trigger = document.querySelector('.trigger');

  picker.on('emoji', selection => {
    // console.log(trigger)
    // trigger.removeChild(trigger.firstElementChild);

  // Add the new image for the new Twemoji
  const img = document.createElement('img');
  img.src = selection.url;
  img.alt = selection.emoji;
  img.className = 'emojiInputted'
  // trigger.appendChild(img);
  document.getElementById("chat-message-input").appendChild(img);
});
  console.log(picker)
trigger.addEventListener('click', function(){
  picker.togglePicker(trigger)
  picker
});

</script>

<script>

$(document).ready( function(){
  $('#suggestion').keyup(function(){
      var query;
      query = $(this).val();
      $.get('/chat/users/listall/', {suggestion: query},   function(data){
        $('.users-container').removeClass('hide-users')
        $('.users-container .ul').html('')
          for (var i=0; i<data.length; i++){
            console.log(data)
            $('.users-container .ul').append(
              `<li  data-chatId=${data[i].id} onclick="userAddChat(this)" class="contact active">
                <div class="card">
                  <img src="${data[i].image_url}" alt="" />
                  <div class="meta">
                    <p class="name">${data[i].username}</p>
                  </div>
                </div>
              </li>`
            )
          }
      });
  });
});

function userAddChat(e){
  var id = e.dataset.chatid
  console.log(id)

  $.get('/chat/create/new/', {'userid': id},   function(data){
    window.location.reload()
  })
}

</script>


{% if room_name_json %}
<script>
  var roomName = {{ room_name_json }};
  var username = {{ username }};
  
  var tribute = new Tribute({
    // menuContainer: document.getElementById('content'),
    values: function(text, cb) {
      $.get(`/chat/users/listall/`, {"suggestion":text}, function(data, status){
        if (status == "success"){
            // var parsedData = JSON.parse(data)
            cb(data)
            console.log('cb', data)
        }else{
          cb([])
        }
        });
      },
    lookup: "username",
    fillAttr: "username",
    selectTemplate: function(item) {
      if (typeof item === "undefined") return null;
      if (this.range.isContentEditable(this.current.element)) {
        return (
          `<span style="font-weight:bold" contenteditable="false"><a
             href="/account/profile/${item.original.id}" title="${item.original.username}" 
             >@${item.original.username}</a></span>`
        );
      }

      return (
          `<span style="font-weight:bold" contenteditable="false"><a
             href="/account/profile/${item.original.id}" title="${item.original.username}" 
             >@${item.original.username}</a></span>`
        );
    },
    requireLeadingSpace: true,
    noMatchTemplate: function () {
      return '<span style:"visibility: hidden;"></span>';
    }
  });

  tribute.attach(document.getElementById("chat-message-input"));

</script>
<script src="{% static 'socket_main.js' %}"></script>
{% else %}
<script>
var contact = document.querySelectorAll('.contact')
  contact.forEach(item => {
    item.addEventListener('click', function(e){
      window.location.replace(window.location.origin + `/chat/${item.dataset.chatid}`)
    });
  })

</script>
{% endif %}
{% endblock js%}

